<div class="w-full flex flex-col items-center pt-24"> 
  <div class="max-w-5xl w-full mx-auto">
    <%= turbo_frame_tag @post, :comments do %>
      <div class="flex flex-col gap-2">
        <% if @post.comments.any? %>
          <%= render partial: "comment", collection: @post.comments.order(created_at: :desc) %>
        <% else %>
          <p class="text-center text-xl"> There are no comments yet </p>
        <% end %>
      </div>
      <div class="w-full flex justify-between items-center mt-4">
        <%= link_to "Cancel", "/", class: "bg-gray-500 rounded-lg text-gray-50 p-2 hover:scale-105" %>
        <%= link_to "Create new comment", new_post_comment_path(@post), class: "p-2 rounded-lg bg-green-500 text-green-50 cursor-pointer hover:scale-105" %>
      </div>
    <% end %>
  </div>
</div>