<div class="w-full flex flex-col items-center pt-24 h-[60vh] bg-cover bg-top" style="background-image: url('<%= asset_path("happy-people.jpg") %>')">
  <div class="backdrop-blur-sm flex flex-col items-center p-4"> 
    <h1 class="font-bold text-7xl bg-clip-text text-transparent bg-gradient-to-br from-purple-500 to-pink-500">Awe-Social</h1>
    <p class="mt-4 text-2xl text-purple-800">A secure social platform for connecting with your friends and family </p>

    <div class="w-full flex justify-center gap-4 items-center pt-8"> 
      <%= link_to "Log In", new_user_session_path, class: "bg-blue-500 py-3 px-2 text-blue-50 rounded-lg w-32 text-center hover:bg-blue-600 hover:scale-105 transition-all duration-250" %>
      <%= link_to "Create Account", new_user_registration_path, class: "py-3 px-2 text-blue-500 rounded-lg text-center border-2 border-blue-500 hover:border-blue-200 hover:bg-blue-300 hover:scale-105 transition-all duration-250" %>
    </div>
  </div>
</div>
<div class="relative flex justify-center"> 
  <div class="max-w-7xl w-full grid md:grid-cols-3 gap-16 px-8 md:px-4 absolute -top-16"> 
    <div class="h-64 w-full bg-gray-200 flex flex-col items-center justify-center rounded-lg">
      <p class="text-xl font-semibold text-center h-16"> Realtime comments and connections </p>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-20">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.068.157 2.148.279 3.238.364.466.037.893.281 1.153.671L12 21l2.652-3.978c.26-.39.687-.634 1.153-.67 1.09-.086 2.17-.208 3.238-.365 1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
      </svg>

    </div>

    <div class="h-64 w-full bg-gray-200 flex flex-col items-center justify-center rounded-lg">
      <p class="text-xl font-semibold text-center h-16"> Beautiful moments with friends and family </p>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-20">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.182 15.182a4.5 4.5 0 0 1-6.364 0M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0ZM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Z" />
      </svg>

    </div>

    <div class="h-64 w-full bg-gray-200 flex flex-col items-center justify-center rounded-lg">
      <p class="text-xl font-semibold text-center h-16"> Stay connected and in-the-loop </p>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-20">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3 7.5 7.5 3m0 0L12 7.5M7.5 3v13.5m13.5 0L16.5 21m0 0L12 16.5m4.5 4.5V7.5" />
      </svg>
    </div>
  </div>
</div>